<div class="container">
  <div class="row">
    <div class='col-md-5 mt-5 ml-5'>
      <%= image_tag @product.get_image(200,200), class: "shadow p-3 mb-5 bg-white", style: "margin: auto;" %>
    </div>

    <div class= "col-md-4 mt-5">
      <div class = "item_cd" style = "background-color: #003366;">
        <p><strong style = "color: #ffffff;"><%= @product.name %></strong></p></br>
        <p style = "color: #ffffff;"><%= @product.explanation %></p>
        <p style = "color: #ffffff;">¥<%= @product.tax_price.to_s(:delimited)%>（税込)</p>
      </div>


      <% if customer_signed_in? && @product.sells_status == "sale" %>
        <%= form_with model: @product_item do |f| %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.hidden_field :product_id, :value => @product.id %>
            <p class = "pt-3">
              <%= f.submit "伝票に転記"%>
              <%= f.select :quantity, *[1..100] %>
            </p>
        <% end %>
      <% else %>
        <% if @product.sells_status == "sale" %>
          <p style = "color: #ffffff;">在庫有り</p>
        <% else %>
          <p style = "color: #ff3838;">入荷待ち</p></p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>