<%= form_with model: [:admin, @product], url: admin_product_path do |f| %>
<div class="container">
  <div class="mt-4">
    <div class="text-center">
      <%= render 'layouts/errors', obj: @product %>
        <h5 class="ml-5 mb-5"><span class="title-custom px-4">商品編集</span></h5>
          <table class="col-10 mt-5 mx-auto">
            <div class="table-responsive">
              <tr>
                <th>商品画像</th>
                <td><%= f.file_field :image, accept: "image/*" %></td>
              </tr>
              <tr>
                <th><%=f.label :"商品名"%></th>
                <td><%=f.text_field :name %></td>
              </tr>
              <tr>
                <th><%= f.label :"商品説明" %></th>
                <td><%= f.text_area :explanation %></td>
              </tr>
              <tr>
                <th><%= f.label :"ジャンル" %></th>
                <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %></td>
              </tr>
              <tr>
                <th><%= f.label :"税抜き価格" %></th>
                <td><%= f.text_field :price %>円</td>
              </tr>
              <tr>
                <th><%= f.label :"販売ステータス"%></th>
                <td><%= f.radio_button :sells_status, Product.sells_status.key(true) %>
                    <%= f.label :sells_status_sale, Product.sells_status_i18n[:sale] %>
                    <%= f.radio_button :sells_status, Product.sells_status.key(false) %>
                    <%= f.label :sells_status_sold_out, Product.sells_status_i18n[:sold_out] %>
                </td>
              </tr>
          </table>
            <div class="text-center">
              <%= f.submit "編集を保存", class:"btn btn-success"%>
            </div>
<% end %>
            </div>
    </div>
  </div>
</div>