<div class="container">
  <h4 class="ml-5 mt-4"><strong style="background-color:#EEEEEE;">注文情報確認</strong></h4>
  <div class="row">
    <table class= "col-md-8 ml-5 pl"  border="1" style="border-collapse: collapse">
      <tr>
        <th class = "text-center py-2" >商品名</th>
        <th class = "pl-2" >規格</th>
        <th class = "pl-2" >単価(税込)</th>
        <th class = "pl-2" >数量</th>
        <th class = "pl-2" >小計</th>
      </tr>
    <!--合計金額total初期化-->
      <% total = 0 %>
      <% @product_items.each do |product_item| %>
        <tr>
          <td>
            
            <strong class = "ml-2" ><%= product_item.product.name %></strong>
          </td>
          <td class = "pr-4 pl-2"><%= cproduct_item.product.tax_price.to_s(:delimited) %></td>
          <td class = "pr-5 pl-2"><%= product_item.quantity %></td>
          <td class = "pr-4 pl-2">
            <%= product_item.subtotal.to_s(:delimited) %>
          </td>
        </tr>
        <!--<% total += product_item.subtotal %> #アイテムごとに合計金額に加算-->
      <% end %>
    </table>
    <table class= "col-md-2 ml-5" border="1" style="border-collapse: collapse" height= "40%">
      <tr>
        <th class = "py-2" >商品合計</th>
        <td><%= total.to_s(:delimited) %></td>
      </tr>
      <tr>
        <th class = "py-2" >請求金額</th>
          <% @order.price = total.to_i %>
        <td><%= @order.price.to_s(:delimited) %></td>
      </tr>
    </table>
  </div>
  <div class = "row" >
    <strong class = "mt-4 ml-5" >現場名</strong>
    <div class = "mt-4 ml-4" >
      <%= @order.site_name %>
      <%= @order.address %><br>
    </div>
  </div>
  <div class="row justify-content-center py-5">
      <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :customer_id %>
      <%= f.hidden_field :site_name %>
      <%= f.hidden_field :address %>
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
  <% end %>
  </div>
</div>