<div class="container">
  <div class="row d-flex justify-content-between my-3 px-3">
    <h4><strong style="background-color:#EEEEEE;">注文履歴詳細</strong></h4>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h5>注文情報</h5>
      <table class = "table table-bordered">
        <tr>
          <td style="width: 150px;">注文日</td>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <td>現場名</td>
          <td><%= @order.site_name %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <h5>請求情報</h5>
      <table class = "table table-bordered">
        <tr>
          <td>商品合計</td>
          <td><%= @total.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td>ご請求額</td>
          <td><%= @order.price.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <h5>注文内容</h5>
    <table class = "table table-bordered">
      <tr>
        <td style="width: 400px;">商品</td> 
        <td>単価（税込）</td>
        <td>個数</td>
        <td>小計</td>
      </tr>
      <% @order.order_details. each do |order_detail| %>
        <tr>
          <td><%= order_detail.product.name %></td>
          <td><%= order_detail.subprice.to_s(:delimited) %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= order_detail.total_price.to_s(:delimited) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>